<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gearlized</title>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
         footer {
            position: fixed;
            padding: 0px 0px 0px 0px;
            bottom: 0;
            width: 100%;

        }




    </style>


</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">Login<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register<span
                            class="sr-only">(current)</span></a>
                </li>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'buy' %}">Buy<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sell' %}">Sell<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </ul>
            <ul class="navbar-nav mx-auto">
                <h2 class="text-center text-uppercase" style="color:#f8f9fa"><em><strong>Gearlized</strong></em></h2>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<!-- Information abou product text -->
<div class="container mt-3 mr-auto">
    <h4>Login info:</h4>
    <br>
</div>

<!-- item info -->
<div class="container mt-2 mr-auto">
    <form class="form-group" method="POST">
        {% csrf_token %}
        <h5 class="text-left" style=""><em>Email or Username {{ form.username }}</em></h5>
        <hr>

        <h5 class="text-left" style=""><em>Password {{ form.password }}</em></h5>
        <br>
        {% if error %}
        <p style="color: red">{{ error }}</p>
        <br>
        {% endif %}

        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>


<!-- Footer -->
<br>
<footer class="footer">
    <div class="footer-inner text-white bg-dark p-4">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-4">
                            <a href="https://www.instagram.com/semeka_13/?hl=ru">
                                <img alt="Qries" src="../../../static/img/instagram.png" width=45" height="45">
                            </a>
                        <p>Instagram</p>
                            <a href="https://vk.com/semeka13">
                                <img alt="Qries" src="../../../static/img/vk.png" width=45" height="45">
                            </a>
                        <p>VK</p>
                            <a href="https://www.facebook.com/mike.lazarev/">
                                <img alt="Qries" src="../../../static/img/facebook.png" width=55" height="55">
                            </a>
                        <p>Facebook</p>

            </div>
            <div class="col-md-4 col-lg-4 col-4">
                <address>
                    <strong>Gearlized, Inc.</strong><br>
                    Russia, Vladivostok<br>
                    <abbr title="Phone">Phone:</abbr> +7(908)449-43-21
                </address>
                <address>
                    <strong>Semen Beliaev&nbsp;</strong><br>
                    <a href="mailto:#">gearlized.shop@gmail.com</a>
                </address>
            </div>
        </div>
        <div class="text-center">
            <p>Copyright © Gearlized_Web. All rights reserved.</p>
        </div>
    </div>
</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap-4.4.1.js"></script>

</body>
</html>